*{
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}
/* header start here */

.header-title{
    font-size: 50px;
    font-weight: 700;
    color: #272727;
    width: 450px;
}
.header-description{
    font-size: 15px;
    font-weight: 300;
    line-height: 20px;
    width: 450px;
    margin: 30px 0px;
}
.primary-btn{
    background-color:  #E55473;
    color: #FFF;
    font-size: 15px;
    font-weight: 200px;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
}
.primary-btn:hover{
    color: #E55473;
    background-color: #FFF;
    cursor: pointer;
}

.header-img{
    height: 400px;
    width: 350px;
    margin-top: 50px;
}
.header-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 450px;
    background: rgba(229, 84, 115, 0.10);
}

/* header style added */
.featured-container{
    max-width: 80%;
    margin: auto;
    height: 120vh;
}

.featured-title{
    font-size: 25px;
    font-weight: 700;
    color: #272727;
}
.featured-description{
    font-size: 15px;
    font-weight: 100;
    color: rgba(39, 39, 39, 0.60);
    width: 500px;
    margin: auto;
    padding-top:20px ;
}
.featured-blog{
    text-align: center;
    margin-top: 70px;
}
.featured-image{
    height: 200px;
    width: 150px;
    padding-top: 80px;
}
.featured-image-container{
    height: 280px;
    width: 180px;
    margin: 30px 5px;
    border-radius: 90px 90px 0px 0px;
    text-align: center;
}
.color1{
    background-color:  rgba(167, 33, 98, 0.15);
}
.color2{
    background-color: rgba(5, 151, 160, 0.15);

}
.color3{
    background-color: rgba(71, 125, 17, 0.15);
}
.featured-images{
    display: flex;
    justify-content: center;
    align-items: center;
}
.fetured-name{
    font-size: 15px;
    font-weight: 200;
    margin: 10px 0px 5px 5px;
}
.services{
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 50px 0px;
    height: 150px;
}
.services-img{
    height: 50px;
    margin-left: 30px;
}
/* services section ends here */
.blog-title{
    font-size: 20px;
    color: #272727;
    font-weight: 600;
}
.blog-title > span{
    color: #E55473;
}
.blog-des{
    font-size: 15px;
    font-weight: 100px;
    line-height: 15px;
    margin: 20px 0px;
    width: 450px;
}
.blog-container{
    text-align: center;
}
.account-image{
    height: 300px;
    width: 300px;
}
.account-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    height: 400px;
}
/*  create account section ends here */
/* socia section start */
.social-title{
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 15px;
    margin-top:50px ;
}
.social-description{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 200;
    line-height: 20px;
}
.social-blog{
    text-align: center;
    width: 500px;
    margin: auto;
}
.social-image{
    height: 200px;
    margin: 25px 5px;
}
.social-photos{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin: auto;
}
/* social section ends  here */
/* deals section start here */
.deals{
    background-image: url("images/cover.png");
    background-size: cover;
    width: 80%;
    height: 200px;
    margin: auto;
    margin-bottom: 50px;

}
.deals-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.deals-title{
    text-align: center;
    margin:20px 0px 5px 0px ;
    padding-top: 40px;
}
.deal-input{
    padding: 15px 90px 5px 15px;
    border: none;
    border-radius: 5px;
    margin-right: 15px;
}
/* deal section ends here */
/* footer section start here */

.footer-title{
    margin-top: 50px;
    margin-bottom: 15px;
    font-size: 30px;
    font-weight: 600;
    color: white;
    text-align: center;
}
.footer-title > span {
    color: #E55473;
}
.footer-continer{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 100%;
    margin: auto;
}
.footer-description{
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 12px;
    font-weight: 300;
    line-height: 15px;
    width: 500px;
    margin: 15px 0px;
    
}